@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg,#153677,#4e085f);
  margin: 2px;
  padding: 2px;
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 10px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 30px;
}
input{
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 18px;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 50px;
  background-color: #f34d58;
  color: #fff;
  border-radius: 30px;
}
#list-container{
  
  max-height: 50vh;

}


ul li {
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  list-style: none;
  user-select: none;
  position: relative;
}
ul li::before{
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 10px;
  left: 8px;
}
.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background: url(images/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
ul li span{
  position: absolute;
  right: 0;
  font-size: 30px;
  padding: 5px;
  padding-bottom: 2px;
  border-radius: 50%;
  transition: 0.4s ease;

  
}
ul li span:hover{
  background: #efc8c8;
  color: red;
}
